html, body {
    height: 100%;
  margin: 0;
  padding: 1rem;
  font-family: "Cutive Mono", monospace;
  color: white;
  display: grid;
  overflow: hidden;
  grid-template-rows: auto 1fr auto;
}

.logo-lego{
    width: 50px;
    height: 50px;
}

.logo-via{
    height: 50px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.personal_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.personal_info > img {
  border-radius: 10%;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
}

.profile h2 {
    text-align: justify;
}

.name {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.contact-info {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  grid-column-start: 2;
}
