html,
body {
  height: 100%;
  margin: 0;
  padding: 1rem;
  font-family: "Cutive Mono", monospace;
  color: white;
  display: grid;
  overflow: hidden;
  grid-template-rows: auto 1fr auto;
}

.logo-lego,
.logo-via {
  height: 50px;
}

.logo-lego {
  width: 50px;
}

.name {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.profile-picture {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-picture > img {
  border-radius: 10%;
  width: 464px;
  height: 400px;
}

.profile-description {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.profile-description h2 {
  text-align: justify;
}

@media screen and (max-width: 768px) {
  .logo-lego,
  .logo-via {
    display: none;
  }

  .name {
    grid-template-columns: 1fr;
  }

  .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    max-height: 480px;
    overflow: scroll;
  }

  .profile-picture {
    margin-bottom: 10px;
  }

  .profile-picture > img {
    width: 232px;
    height: 200px;
  }

  .profile-description {
    width: 100%;
  }

  .profile-description h2 {
    text-align: start;
  }
}
